@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #d3b89d;
    --secondary: #fbf7f2;
    --alternative: #b69779;
    --awesome: #aba98d;
  }

/* scrollbar */
::-webkit-scrollbar {
    display: none;
}

:is(body) {
    display: grid;
    grid-template-rows: auto minmax(100%, 100dvh) auto;
    background-color: var(--secondary)
}

/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color:var(--primary);

    & img[alt='logo'] {
        width: 6rem;
    }
}

.nav-link {
        color: var(--secondary);
        transition: all 0.4s;
      
        &:hover {
          transform: scale(1.2);
          background-color: var(--secondary);
          color: var(--alternative);
          border-radius: .2rem;
        }
}

.navbar-brand {
    transition: all 0.4s;
  
    &:hover {
      transform: scale(1.2);
    }
}