@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #d3b89d;
    --secondary: #fbf7f2;
    --alternative: #b69779;
    --awesome: #acaf80;
  }

/* scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* All pages */
body {
    display: grid;
    grid-template-rows: auto minmax(100dvh, 100%) auto;
    background-color: var(--secondary);
    font-family: "Italiana", sans-serif;
}

/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color:var(--primary);

    & img[alt='logo'] {
        width: 6rem;
    }
}

.nav-link {
        color: var(--secondary);
        transition: all 0.4s;
      
        &:is(:active, :focus-within){
            text-decoration: underline;
        }
        &:hover {
          transform: scale(1.2);
          background-color: var(--secondary);
          color: var(--alternative);
          border-radius: .2rem;
        }
}

.navbar-brand {
    transition: all 0.4s;
  
    &:hover {
      transform: scale(1.2);
    }
}

footer {
    height: 6rem;
    color: var(--secondary);
    background-color:var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--secondary);
}

/* Landing Page */
#main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--secondary)
    url(https://erin-caitlin.github.io/all-images/LuminousResin/homeBackground1.jpg);
    /* overflow: hidden; */
    background-size: cover;
    color: var(--secondary);
}

h1 {
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    background-color: #fbf7f2c0;
    color: var(--alternative);
    /* font-weight: bolder; */
}

h2 {
    margin-top: 3rem;
    text-align: center;
    color: var(--alternative);
}

/* Bottom of landing page */
#carouselExampleAutoplaying {
    margin-top: 15rem;
    margin-left: 5rem;
    color: var(--secondary);
    font-size: 1.5rem;
}

/* Home page link to product page */
.productPage {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    margin-inline: auto;
    width: 15rem;
    text-align: center;
    background-color: #acaf80b0;
    transition: all 0.4s;
  
    &:hover {
      transform: scale(1.2);
    }
}

.store-link {
    color: var(--secondary);
}

.carousel-item {
    /* margin-inline: auto; */
    background-color: #b6987960;
    width: 80rem;
}

#productDescription {
    margin-left: 3rem;
    width: fit-content;
}

img[alt='coasters-main'] {
    margin-bottom: .5rem;
    margin-top: 1.5rem;
    margin-left: 5rem;
    height: 11rem;
    width: 20rem;
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
}

/* Carousel buttons */
.carousel-control-prev,
.carousel-control-next {
    display: none;
}

/* Product page */
#product-main {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

/* Add to cart button */
.btn {
    background-color: var(--secondary);
    border-color: var(--alternative);
    color: var(--alternative);

    &:hover {
        background-color: var(--awesome);
        border-color: var(--primary);
        color: var(--secondary);
    }
}

#all-products {
    background-color: var(--alternative);
    color: var(--secondary);
}

[Products] {
    margin-top: 2rem;
    ::placeholder {
        color: var(--alternative);
    }
}

[searchBar] {
    padding: .5rem;
    width: 60rem;
    border-radius: .3rem;
    color: var(--alternative);
    border-color: var(--primary);
    background-color: var(--secondary);
}

[sortBtn] {
    width: 15rem;
    background-color: var(--awesome);
    border-color: var(--secondary);
    border-radius: .3rem;
    color: var(--secondary);

    &:hover {
        background-color: var(--primary);
        border-color: var(--primary);
        color: var(--secondary);
    }
}

.card-img-top {
    height: 18rem;
}


/* contact page */

[contact-content] {
    /* height: 100%;
    background: url(https://erin-caitlin.github.io/all-images/LuminousResin/background1.jpg) no-repeat;
    background-size: cover; */
    /* display: flex;
    flex-direction: column;
    background: var(--secondary)
    url(https://erin-caitlin.github.io/all-images/LuminousResin/background1.jpg);
    /* overflow: hidden; */
    /* background-size: cover; */ */
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-weight: bolder;
    color: var(--alternative);
}

#name,
#surname,
#message{
    padding: .5rem;
    width: 50rem;
    border-radius: .3rem;
    color: var(--secondary);
    border: var(--secondary);
    background-color: var(--primary);
}

/* Contact form placeholder */
::placeholder {
    color: var(--secondary);
}

#btn-send,
#btn-clear {
    padding: 1rem;
    border-radius: .2rem;
    width: 10rem;
    background-color: var(--awesome);
    color: var(--secondary);
    border-color: var(--secondary);
}

[icon]:hover{
     transform: scale(1.2);
}

[social-media] {
    margin-top: 5rem;
    margin-left: 15rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    background-color: var(--primary);
    color: var(--secondary);
    font-size: xx-large;
    text-align: center;
    width: 65rem;
}

#socials {
    padding: 3rem;
    display: flex;
}

.btns{
    display: flex;
    gap: 3rem;
}

[about-heading] {
    margin-top: 3.5rem;
    /* margin-bottom: 5rem; */
}

#about-page {
    display: flex;
    flex-direction: column;
    background: var(--secondary)
    url(https://erin-caitlin.github.io/all-images/LuminousResin/background5.jpg);
    /* overflow: hidden; */
    background-size: cover;
    color: var(--secondary);
    font-weight: bolder;
}

#background-video,
#background-videos {
    width: 33rem;
    border-radius: .3rem;
}

#about-content{
    margin-inline: auto;
    border-radius: .3rem;
    width: fit-content;
}

[about-info] {
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 70rem;
}

#firstRow {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

#secondRow {
    margin-bottom: 2rem;
}

[about1],
[about2] {
    padding: 1.8rem;
    background-color: #d3b89db4;
    box-shadow: 1px 2px 2px 1px var(--alternative);
    border-radius: .3rem;
}
[about1] {
    margin-top: 1rem;
}